.App {
  text-align: center;
  background-color: #F2F1EF;

}


.App-header {
  background-color: #F2F1EF;


  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */

}

.container {
  padding: 20px 40px;
}

nav {

  display: flex;
  justify-content: space-between;
  width: 100%;

}

.nav-list {
  display: flex;
  gap: 40px;
  font-size: 19px;
}

.home {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.tag {
  text-align: center;
  display: flex;
}

.about {
  padding-top: 100px;
}